<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=5.0">
    <title>Game_new_year_2024</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
 <!-- Контейнер для снега -->
<div id="snowfall"></div>
    <div class="game-container">
        <div class="scene">
            <h2> {{  scene.name }}</h2>
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/' + scene.image) }}" alt="Scene Image">
            </div>
        </div>
        <div class="options">
            <h3>{{ user_answer }}{{ scene.text }} </h3>
            <form id="answerForm" method="post" action="{{ url_for('submit_answer') }}">
                {% for key, value in scene.options.items() %}
                    <button class="option-btn" type="button" onclick="submitAnswer('{{ key }}')">{{ value }}</button>
                {% endfor %}
                <input type="hidden" name="answer" id="answerInput">
            </form>
            <form action="/exit" method="post">
            <button class = "exit_btn" type="submit">Начать заново</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
