body {
    margin:0; /* это расстояние от элемента */
    padding:0;  /* это отступы внутри, тоесть от границ элемента */
    font-family: Arial, sans-serif;  /* sans-serif - без засечки */
    display: flex; /* элементы не последовательны а по горизонтали */
    align-items: center;
}

*  /* для всех элементов */
    {
    box-sizing: border-box;  /* border-box - задает фиксированный размер при использовании паддинга */
}

h1 {
    font-size: 50px;
}

p {
    font-size: 18px;
    margin: 30px 0px;
}

a {
    border-radius: 100px;
    background: black;
    color: white;
    padding: 22px 70px;
    text-decoration: none; /* убирает подчеркивание у ссылок */
    font-size: 18px;
    font-weight: 700; /* жирность текста */
    display: block; /* превращение текстового в блок, но решение это inline-block; */
    width: 216px;
}

div {
    width: 465px;
    margin-left: 180px;
}





/* example */

h6 {
    color: red;
    border: 2px solid red; /* solid - сплошной */
    background: black;  /* hex code*/
}

aples {
    width: 200px; /* widtd - длина */
    background: #000;
    margin: 100px 20px 10px 30px; /* отступы */
    /* margin-top: 10px; */
    padding: 10px 20px; /* сверху и снизу по 10, слева и справа по 20 */
    /* padding - отступ внутрь элемента margin - отступ наружу */
}

/*
селектор (element or block) {
    свойство: значение;
    свойство: значение
    ...
}

селектор {
    свойство: значение;
    свойство: значение
    ...
}
*/