/* сначала ставить самые повторяемые объекты, а все что ниже - главнее */

body {
    margin:0; /* это расстояние от элемента */
    padding:0;  /* это отступы внутри, тоесть от границ элемента */
    font-family: 'Open Sans', sans-serif;  /* sans-serif - без засечки */
    font-size: 18px; /* 18px для всех параграфов */
    /*
    display: flex;  элементы не последовательны а по горизонтали
    align-items: center;
    */
}

*  /* для всех элементов */
    {
    box-sizing: border-box;  /* border-box - задает фиксированный размер при использовании паддинга */
}

.container  {
    width: 1110px;
    margin: 0 auto;
}

/* будем использовать контейнеры
div {
    width: 465px;
    margin-left: 180px;
}
*/

p {
    margin: 0;
    line-height: 1.37em;
}

h1, h2, h3, h4 ,h5 ,h6 {
    margin: 0;
    font-weight: 700;
    line-height: 1.4em; /* это высота строки (диапазон между строками) 1.4em это 140% */
}

h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
    text-align: center; /* расположение текста внутри блока по центру */
}

.header {
    padding-top: 60px;
}

.intro_text {
    font-size: 18px;
    margin: 30px 0px;
}

section {
    padding-top: 120px; /* отступ сверху по каждой секции */
}

.btn {
    border-radius: 100px;
    background: black;
    color: white;
    padding: 22px 70px;
    text-decoration: none; /* убирает подчеркивание у ссылок */
    font-size: 18px;
    font-weight: 700; /* жирность текста */
    display: block; /* превращение текстового в блок, но решение это inline-block; */
    width: 218px;
    transition: all 0.5s ease; /* плавная анимация для hover */
}

.btn:hover {  /* изменение кнопки при наведении */
    background: #21df24;
}

.offer-wrapper {
    display: flex;  /* элементы не последовательны а по горизонтали */
    align-items: center;
    justify-content: space-between;
    margin-top: 79px;
}

.offer {
    width: 465px;
}

.logo {
    margin: 0 auto;
    display: block; /* преобразованиеиз строчного в блочный */
}

.first_image {
    width: 465px;
}


h6 {
    color: red;
    border: 2px solid red; /* solid - сплошной */
    background: black;  /* hex code*/
}

aples {
    width: 200px; /* width - длина */
    background: #000;
    margin: 100px 20px 10px 30px; /* отступы */
    /* margin-top: 10px; */
    padding: 10px 20px; /* сверху и снизу по 10, слева и справа по 20 */
    /* padding - отступ внутрь элемента margin - отступ наружу */
}

.digit-item {
    display: flex;
    align-items: center;
}
.digit {
    border: solid 1px #000000;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    width: 77px;
    height: 77px;
    display: flex; /* практически тоже что и block */
    align-items: center;
    justify-content: center;
    margin-right: 34px;
    transition: all 0.5s ease;
}

.digit-item:hover .digit { /* по сути мы хотим поменять digit при наведение на item */
    background: #1a1a1a;
    color: white;
}

.digit-title {
    font-size: 30px;
    margin-bottom: 11px;
}

.digits {
    display: flex;
    flex-direction: column; /* flex по колонкам, так как по умолчанию в строку */
    gap: 41px;
    width: 720px;
    margin: 70px auto 0 auto; /* справа и слева auto, то элемент будет по центру */
}

.practice-wrap {
    background: linear-gradient(102deg, #E8FFE8 17.38%, #D1F0FF 81.25%);
    border-radius: 60px;
    display: flex;
    align-items: center;
    padding: 93px 168px 89px 122px; /* отступы внутрь элемента */
}

.practice-block {
    width: 432px;
}

.practice-title {
    text-align: left; /* выравнивание по левому краю */
}

.practice-text {
    margin: 24px 0;
}

.ball {
    margin-right: 101px;
}

.footer {
    padding: 120px 0;
    text-align: center;
    font-size: 15px;
}







/* Responsive */


/* Large: 992px - 1199px - ширина попадает в этот диапазон*/
@media (max-width: 1199px) {  /* брейкпоин */
    .container {
        max-width: 960px;
    }
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .offer-wrapper {
        flex-direction: column;
        text-align: center;
        gap: 51px;
    }
    .btn {
        margin: 0 auto; /* выравнивание блока по центру */
    }
    .practice-wrap {
        flex-direction: column;
        text-align: center;
        padding: 101px 144px;
        gap: 51px;
    }
    .ball {
        margin: 0 auto;
    }
    .practice-title {
        text-align: center;
    }
    .practice-wrap .practice-text { /* хч, почему тут нужно так */
        margin: 24px auto;
    }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .digit-item {
        flex-direction: column;
        text-align: center;
    }
    .digits {
        width: auto;
        gap: 41px;
    }
    .practice-wrap {
        gap: 51px;
    }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
    .container {
        padding: 0 15px;
        max-width: 320px;
    }
    .first_image {
        width: 100%;
        display: block;
    }
    .offer {
        width: auto;
    }
    .practice-wrap img {  /* так как единственная картинка */
        width: 201px;
        margin: 0 0;
    }
    .practice-wrap {
        padding: 70px 20px;
    }
    .practice-wrap .practice-block {
        width: 100%;
    }
    .digit {
        margin-right: 0px;
    }
}

/*
селектор (element or block) {
    свойство: значение;
    свойство: значение;
    ...
}

селектор {
    свойство: значение;
    свойство: значение;
    ...
}
*/
